@mixin button($padding,$border,$radius,$background,$color,$size){
  padding:$padding;
  border:$border;
  border-radius:$radius;
  background:$background;
  color:$color;
  font-size:$size;
  text-transform: uppercase;
  float: left;
  &:focus{
    outline: none;
  }
  &:hover{
    cursor:pointer;
  }
}

input[type="submit"]:disabled,.disabled{
  &:hover{
    cursor: not-allowed!important;
  }
}